extends ../shared/layout

block main-content
  .col-md-6.col-md-offset-3
    form(method="post", action="", class='form-horizontal')
      fieldset
        legend Login
        .form-group
          label.control-label(for="username") Username
          input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        .form-group
          label.control-label(for="password") Password
          input(id="password" class="form-control" type="password" name="password" placeholder="Password")
        .form-group
          input(type="hidden" name="_csrf" value=csrfToken)
        .form-group
          button(type="submit" class="btn btn-primary") Login