- const name = user.name || user.username;
p= `Welcome to Echopig, ${name}.`
p= `We're happy to have you. Please add post+${user.postTag}@echopig.com to your contacts so that you can add your favorite podcast episodes from the share sheet in your podcast app.`