extends shared/layout
block main-content
  .container
    .jumbotron
      h1 Welcome to Echopig
      p Use any podcast app to create your own feed of your favorite episodes that your friends can enjoy.