extends shared/layout
block main-content
  div.col-md
    div.align-middle.h5
      div.my-4 Keep the podcast app you love
      div.my-4 Share favorite episodes
      div.my-4 Follow friends and interests
  div.col-md
    div.align-middle